version: 2
updates:
  - package-ecosystem: 'npm'
    versioning-strategy: 'increase'
    directories:
      - '**/*'
    schedule:
      interval: 'weekly'
    labels:
      - 'dependencies'
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'daily'
    labels:
      - 'dependencies'
