name: Test

on:
  push:
    paths-ignore:
      - '**.md'
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node_version: [12, 14, 16]
        include:
          - os: macos-latest
            node_version: 14
          - os: windows-latest
            node_version: 14
      fail-fast: false

    name: 'Build&Test: node-${{ matrix.node_version }}, ${{ matrix.os }}'
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set node version to ${{ matrix.node_version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node_version }}

      - name: Cache pnpm modules
        uses: actions/cache@v2
        env:
          cache-name: cache-pnpm-modules
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ matrix.node-version }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-${{ matrix.node-version }}-

      - name: Install playwright
        run: npx playwright install-deps chromium

      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 6.4.0
          run_install: true

      - name: Build
        run: npm run build:test

      - name: Lint
        run: npm run lint

      - name: Type check
        run: npm run type-check

      - uses: nick-invision/retry@v2
        with:
          timeout_minutes: 10
          max_attempts: 3
          command: npm --silent run test

  coverage:
    runs-on: ubuntu-latest
    name: Report coverage to Codecov
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Cache pnpm modules
        uses: actions/cache@v2
        env:
          cache-name: cache-pnpm-modules
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ matrix.node-version }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-${{ matrix.node-version }}-

      - name: Install playwright
        run: npx playwright install-deps chromium

      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 6.4.0
          run_install: true

      - name: Build
        run: npm run build:test

      - uses: nick-invision/retry@v2
        with:
          timeout_minutes: 10
          max_attempts: 3
          command: npm run test:coverage

      - name: Upload coverage to Codecov # https://github.com/codecov/codecov-action
        uses: codecov/codecov-action@v1
