name: Release

permissions:
  contents: write
  id-token: write

on: workflow_dispatch

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4

      - name: Set node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: current
          cache: pnpm

      - name: Install dependencies
        run: pnpm i

      - name: Prepare for release
        run: |
          pnpm run format
          pnpm run lint
          pnpm run type-check
          pnpm run clean
          pnpm run build
          pnpm run publint

      - uses: actions/github-script@f28e40c7f34bde8b3046d885e986cb6290c5673b # v7
        id: version_to_release
        with:
          result-encoding: string
          script: |
            const fs = require('fs');
            const packageJson = JSON.parse(fs.readFileSync('./packages/vite-plugin-checker/package.json', 'utf8'));
            return packageJson.version;

      - name: Publish to NPM
        run: |
          cp README.md packages/vite-plugin-checker/README.md
          git tag vite-plugin-checker@${{ steps.version_to_release.outputs.result }}
          git push origin vite-plugin-checker@${{ steps.version_to_release.outputs.result }}
          pnpm -r publish --no-git-checks

      - name: GitHub release
        run: pnpx changelogithub
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
