name: Release

permissions:
  contents: write

on: workflow_dispatch

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Set node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: pnpm
          registry-url: 'https://registry.npmjs.org'

      - name: Setup npmrc
        # https://github.com/changesets/action/issues/98#issuecomment-917292485
        run: echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" >> .npmrc

      - name: Install dependencies
        run: pnpm i

      - name: Prepare for release
        run: |
          pnpm run format
          pnpm run lint
          pnpm run type-check
          pnpm run clean
          pnpm run build
          pnpm run publint

      - uses: actions/github-script@v7
        id: version_to_release
        with:
          result-encoding: string
          script: |
            const fs = require('fs');
            const packageJson = JSON.parse(fs.readFileSync('./packages/vite-plugin-checker/package.json', 'utf8'));
            return packageJson.version;

      - name: Publish to NPM
        run: |
          git tag vite-plugin-checker@${{ steps.version_to_release.outputs.result }}
          git push origin vite-plugin-checker@${{ steps.version_to_release.outputs.result }}
          pnpm -r publish --no-git-checks

      - name: GitHub release
        run: pnpx changelogithub
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
